<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:metrics="http://www.yammer.com/schema/metrics"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.yammer.com/schema/metrics http://www.yammer.com/schema/metrics/metrics.xsd
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<context:component-scan base-package="lab" />

	<metrics:annotation-driven />

	<!-- other beans -->

</beans>